doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google-signin-client_id" content="1041474457742-c79qab5j7ctbig74p1qps8eejocqm2ve.apps.googleusercontent.com")
        title Weather App
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
        link(rel='icon' sizes='16x16' href='/img/weather_logo.png')
        link(rel="stylesheet", href="/css/styles.css")
    body
        //- Content
        block content

        //- if userData.signInType === "Google"
        //-     //- Sign out modal for Google
        //-     #signOutModal.modal.fade(role='dialog')
        //-         .modal-dialog.modal-lg(role='content')
        //-             .modal-content
        //-                 .modal-header
        //-                     h4.modal-title Do you want to sign out?
        //-                     button.close(type='close', data-dismiss='modal') &times;
        //-                 .modal-body.d-flex.justify-content-end
        //-                     button(class="btn btn-danger", id="modalSignOutButton", onclick="onGoogleSignOut()") Sign out
        //-                     button(class="btn btn-default ml-3", data-dismiss="modal") Close

        //- if userData.signInType === "Facebook"
        //- Sign out modal for Facebook
        #signOutModal.modal.fade(role='dialog')
            .modal-dialog.modal-lg(role='content')
                .modal-content
                    .modal-header
                        h4.modal-title Do you want to sign out?
                        button.close(type='close', data-dismiss='modal') &times;
                    .modal-body.d-flex.justify-content-end
                        button(class="btn btn-danger", id="modalSignOutButton", onclick="facebookSignOut()") Sign out
                        button(class="btn btn-default ml-3", data-dismiss="modal") Close

        script(src="https://apis.google.com/js/platform.js", async, defer)
        script(src="https://kit.fontawesome.com/a65ad4e019.js", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
        script(src="/js/googleAuth.js") 
        script(src="/js/facebookAuth.js") 
        script(src="/js/weatherHandler.js") 
